@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

#test {
  border-image:
      url("/images/frame.svg")  /* source */
      30% /                    /* slice */
      2.6rem /    /* width */
      5       /* outset */
      round;                  /* repeat */
}