@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
.example-thumb {
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 3px solid #002439;
  box-sizing: border-box;
}

.example-thumb-mobile {
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid #002439;
  box-sizing: border-box;
}

.example-track {
  position: relative;
  background: #002439;
}

.example-track-mobile {
  position: relative;
  background: #002439;
}
.example-track.example-track-1 {
  background: #4e7988;
}
.example-track.example-track-2 {
  background: #002439;
}

.example-track-mobile.example-track-mobile-1 {
  background: #4e7988;
}
.example-track-mobile.example-track-mobile-2 {
  background: #002439;
}
.horizontal-slider .example-track {
  top: 50%;
  height: 10px;
}
.horizontal-slider .example-track-mobile {
  top: 10px;
  height: 5px;
}
.horizontal-slider .example-thumb {
  top: 30%;
  width: 100px;
  height: 48px;
  line-height: 38px;
}

.horizontal-slider .example-thumb-mobile {
  top: 1px;
  width: 70px;
  height: 24px;
  line-height: 19px;
}