.container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5rem;
  }

.item{
    margin: 0.25rem;
}

.textarea{
    min-width: 40vw;
    margin: 0.25rem;
    min-height: 10rem;
}