.line {
    clip-path: polygon(0% 0%,100% 0%,80% 100%,0% 100%);
    background: #e4eff0;
    padding: 0.25rem;
    margin: 0.25rem;
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 55%;
    border-top-left-radius: 0.5rem; /* 6px */
    border-bottom-left-radius: 0.5rem; /* 6px */
  }

.container {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem;
    display: grid;
    align-items: stretch;
    border-radius: 0.375rem;

}

.invert {
    background: rgb(255, 255, 255);
    padding: 0.25rem;
    margin: 0.25rem;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }